<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <title>Contact</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h1>Welcome to our Contact Page</h1>
  </body>
</html>
